/* p {
    color: red;
    font-weight: bold;
    font-size: 18;
}
a {
    color: blue;
    font-weight: 500;
    text-decoration: none;
} */

section p {
    color: blue;
}

section h1 {
    color: green;
    font-size: 80px;
}

p {
    color: red;
}
/* 9:03 */